@import '../../../styles/utils/mixins';

.ow-logo {
  @extend %center-flex;

  img {
    @include size(55px, 55px);
  }

  &__title {
    margin-left: 32px;
    font-weight: bold;
    font-size: 28px;
  }
}