@import '../../styles/utils/colors';

.nav {
  margin-left: auto;

  &__link {
    color: $yellow;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;

    &--active {
      color: $primary;
    }

    &:nth-child(n + 2) {
      margin: 0 40px;
    }
  }
}