@import './styles/utils/colors';

body {
  background: #FCFCFC;
  margin: 0;
  padding: 0;
  font-family: 'Avenir Next Cyr', sans-serif;
  color: $primary;
  font-size: 16px;


  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
