@import '../../styles/utils/mixins';
@import '../../styles/utils/colors';

footer {
  @include size(100%, 130px);
  position: absolute;
  bottom: 0;
  background: $dark;
  color: white;
  font-weight: 500;

  .contacts {
    .icon-text {
      margin-top: 10px;

      a {
        color: $yellow;
      }

      svg {
        stroke: $yellow;
      }
    }
  }
}